# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Testing
coverage
.nyc_output

# Development/environment
.git
.github
.gitignore
.DS_Store
.env
.env.*
*.env
README.md
CHANGELOG.md
docker-compose*.yml
Dockerfile*

# IDE files
.idea
.vscode
*.sublime-*
*.swp
*.swo

# Build artifacts
dist
build